body {
  font-family: 'Raleway', sans-serif;
  background-color: #f9fafc;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

.content {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.card-list {
  width: 700px;
  height: 100%;
  overflow: auto;
  float: left;
  margin-bottom: 80px;
}

.map {
  width: 500px;
  height: 90%;
  margin-left: 700px;
  margin-top: 30px;
  float: right;
  position: fixed;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 20px 30px #e4e7ea;
}

.card {
  float: left;
  width: 45%;
  height: 300px;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 20px 30px #e4e7ea;
  cursor: pointer;
  transition: .2s all;

}

.card:nth-child(2n+1) {
  margin-right: 4%;
}

.card .image {
  position: relative;
  float: left;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card .price {
  margin-top: -45px;
  font-family: sans-serif;
  width: 80px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  padding: 8px;
  float: left;
  background: #678f9f;
  position: relative;
  display: block;
  color: #fff;
  font-size: 14px;
  letter-spacing: .07rem;
  font-weight: 400;
  box-shadow: 5px 5px 20px #323a3e;
}
.card .info {
  float: left;
  margin-left: 25px;
}

.card .info .title {
  color: #678f9f;
  font-size: 15px;
  letter-spacing: .04em;
  font-weight: 600;
  text-transform: capitalize;
  margin: 20px 0 10px;
}

.card .info p {
  color: #92afbf;
  font-weight: 300;
  font-size: 13px;
}

.card .info .languages {
  margin-top: 8px;
}

.card .info .languages span {
  background: #85bfd6;
  font-size: 11px;
  letter-spacing: .05rem;
  font-weight: 500;
  color: #fff;
  padding: 3px 5px;
  border-radius: 5px;
  margin-right: 3px;
}

.card .host {
  width: 60px;
  height: 60px;
  position: relative;
  margin-top: -30px;
  margin-right: 20px;
  float: right;
  border: 3px solid #fff;
  border-radius: 50%;
}

.card .host .photo {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: #fff;
}

.card .host .name {
  float: left;
  color: #f1f1f1;
  font-weight: 200;
  font-size: 15px;
}

